In [1]:
import pandas as pd
import numpy as np

In [2]:
# load data
df = pd.read_csv('athlete_events.csv')
region_df = pd.read_csv('noc_regions.csv')

In [3]:
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [4]:
df = df[df['Season'] == 'Summer']
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [5]:
df = df.merge(region_df, how='left', on='NOC')
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
222547,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN,Argentina,NaN
222548,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN,USA,NaN
222549,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN
222550,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Belarus,NaN

In [6]:
df['region'].unique().shape

(206,)

In [7]:
df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9189
Height     51857
Weight     53854
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     188464
region       370
notes     218151
dtype: int64

In [8]:
df.duplicated().sum()

1385

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.duplicated().sum()

0

In [11]:
df = pd.concat([df,pd.get_dummies(df['Medal'])],axis=1)

In [12]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,False,False,False
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,False,False,False
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,False,False,False
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,False,True,False
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,Netherlands,NaN,False,False,False

In [13]:
df['Gold'] = df['Gold'].apply(lambda x: 1 if x == True else 0)
df['Silver'] = df['Silver'].apply(lambda x: 1 if x == True else 0)
df['Bronze'] = df['Bronze'].apply(lambda x: 1 if x == True else 0)

In [14]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,0,0,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,0,0,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,0,0,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,0,1,0
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,Netherlands,NaN,0,0,0

In [15]:
medal_tally = df.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'])

In [16]:
medal_tally = medal_tally.groupby('region').sum()[['Bronze', 'Gold', 'Silver']].sort_values(by='Gold', ascending=False)

In [17]:
medal_tally.head()

         Bronze  Gold  Silver
region
USA         708  1035     802
Russia      487   592     498
Germany     491   444     457
UK          300   278     317
France      287   234     256

In [18]:
years = df['Year'].unique().tolist()
years.sort()
years.insert(0, 'Overall')

In [19]:
years

['Overall',
 1896,
 1900,
 1904,
 1906,
 1908,
 1912,
 1920,
 1924,
 1928,
 1932,
 1936,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016]

In [20]:
country = np.unique(df['region'].dropna().values).tolist()
country.sort()

In [21]:
country.insert(0, 'Overall')

In [22]:
country

['Overall',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Boliva',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Individual Olympic Athletes',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts',
 'Saint Lucia',
 'Saint Vincent',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'UK',
 'USA',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands, British',
 'Virgin Islands, US',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [23]:
def fetch_medal_tally(df,year, country):
    flag = 0
    medal_df = df.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'])
    if country == 'Overall' and year == 'Overall':
        temp_df = medal_df
    if country != 'Overall' and year == 'Overall':
        flag = 1
        temp_df = medal_df[medal_df['region'] == country]
    if country == 'Overall' and year != 'Overall':
        temp_df = medal_df[medal_df['Year'] == int(year)]
    if country != 'Overall' and year != 'Overall':
        temp_df = medal_df[(medal_df['region'] == country) & (medal_df['Year'] == int(year))]
    if flag == 1:
        temp_df = temp_df.groupby('Year').sum()[['Bronze', 'Gold', 'Silver']].sort_values(by='Year').reset_index()
    else:
        temp_df = temp_df.groupby('region').sum()[['Bronze', 'Gold', 'Silver']].sort_values(by='Gold', ascending=False).reset_index()
    temp_df['total'] = temp_df['Gold'] + temp_df['Silver'] + temp_df['Bronze']
    print(temp_df)

In [24]:
fetch_medal_tally(df,'Overall', 'Canada')

    Year  Bronze  Gold  Silver  total
0   1900       1     1       0      2
1   1904       1     4       1      6
2   1906       0     1       1      2
3   1908      10     3       3     16
4   1912       3     3       2      8
5   1920       3     3       3      9
6   1924       1     0       3      4
7   1928       7     4       4     15
8   1932       9     2       5     16
9   1936       5     1       3      9
10  1948       2     0       2      4
11  1952       0     1       2      3
12  1956       3     2       1      6
13  1960       0     0       1      1
14  1964       1     1       2      4
15  1968       1     1       3      5
16  1972       3     0       2      5
17  1976       6     0       5     11
18  1984      16    10      18     44
19  1988       5     3       2     10
20  1992       7     7       4     18
21  1996       8     3      11     22
22  2000       8     3       3     14
23  2004       3     3       6     12
24  2008       7     3       9     19
25  2012      12     1       5     18
26  2016      15     4       3     22

In [25]:
participating_nation = df.drop_duplicates(subset=['Year', 'region'])
participating_nation = participating_nation['Year'].value_counts().reset_index().sort_values('Year').rename(columns={'count':'No of countries'})

In [26]:
participating_nation.head()

    Year  No of countries
28  1896               12
22  1900               31
27  1904               14
26  1906               20
25  1908               22

In [27]:
import plotly.express as px

fig = px.line(participating_nation, x='Year', y='No of countries', title='Participating Nations over the years')
fig.show()

In [28]:
temp_df = df.dropna(subset=['Medal'])
temp_df = temp_df['Name'].value_counts().reset_index().head(10)
temp_df

                                              Name  count
0                          Michael Fred Phelps, II     28
1               Larysa Semenivna Latynina (Diriy-)     18
2                     Nikolay Yefimovich Andrianov     15
3                      Borys Anfiyanovych Shakhlin     13
4                                      Takashi Ono     13
5                              Edoardo Mangiarotti     13
6             Dara Grace Torres (-Hoffman, -Minas)     12
7                          Aleksey Yuryevich Nemov     12
8  Jennifer Elisabeth "Jenny" Thompson (-Cumpelik)     12
9                           Birgit Fischer-Schmidt     12

In [29]:
def most_successful_athletes(df, sports):
    temp_df = df.dropna(subset=['Medal'])
    if sports != 'Overall':
        temp_df = temp_df[temp_df['Sport'] == sports]
    temp_df = temp_df['Name'].value_counts().reset_index().head(10).merge(df, left_on='Name', right_on='Name', how='left')[['Name', 'count', 'region']].drop_duplicates()
    return temp_df

most_successful_athletes(df, 'Swimming')

                                                Name  count   region
0                            Michael Fred Phelps, II     28      USA
30   Jennifer Elisabeth "Jenny" Thompson (-Cumpelik)     12      USA
47              Dara Grace Torres (-Hoffman, -Minas)     12      USA
60                                Ryan Steven Lochte     12      USA
74                     Natalie Anne Coughlin (-Hall)     12      USA
86                    Matthew Nicholas "Matt" Biondi     11      USA
98                                 Mark Andrew Spitz     11      USA
110                             Gary Wayne Hall, Jr.     10      USA
120                            Franziska van Almsick     10  Germany
143                        Shirley Frances Babashoff      9      USA

## Country Wise Analysis of Olympics

### Medal Tally Count Per Country in Olympics

In [30]:
country = 'Canada'
temp_df = df.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'])
temp_df = temp_df[temp_df['region'] == country]
temp_df = temp_df.groupby('Year').sum()[['Gold', 'Silver', 'Bronze']].reset_index()
temp_df['Total'] = temp_df['Gold'] + temp_df['Silver'] + temp_df['Bronze']
temp_df

    Year  Gold  Silver  Bronze  Total
0   1900     1       0       1      2
1   1904     4       1       1      6
2   1906     1       1       0      2
3   1908     3       3      10     16
4   1912     3       2       3      8
5   1920     3       3       3      9
6   1924     0       3       1      4
7   1928     4       4       7     15
8   1932     2       5       9     16
9   1936     1       3       5      9
10  1948     0       2       2      4
11  1952     1       2       0      3
12  1956     2       1       3      6
13  1960     0       1       0      1
14  1964     1       2       1      4
15  1968     1       3       1      5
16  1972     0       2       3      5
17  1976     0       5       6     11
18  1984    10      18      16     44
19  1988     3       2       5     10
20  1992     7       4       7     18
21  1996     3      11       8     22
22  2000     3       3       8     14
23  2004     3       6       3     12
24  2008     3       9       7     19
25  2012     1       5      12     18
26  2016     4       3      15     22

In [31]:
temp_df = df.dropna(subset=['Medal'])
print(temp_df[['Name', 'Sport', 'region','Medal']])
temp_df = temp_df[temp_df['region'] == country]
    
# Group by both 'Name' and 'Sport' to distinguish athletes with the same name
athlete_medals = temp_df.groupby(['Name', 'Sport']).size().reset_index(name='Medals')
athlete_medals

                                       Name       Sport   region   Medal
3                      Edgar Lindenau Aabye  Tug-Of-War  Denmark    Gold
12                     Arvo Ossian Aaltonen    Swimming  Finland  Bronze
13                     Arvo Ossian Aaltonen    Swimming  Finland  Bronze
15                  Paavo Johannes Aaltonen  Gymnastics  Finland  Bronze
16                  Paavo Johannes Aaltonen  Gymnastics  Finland    Gold
...                                     ...         ...      ...     ...
222528  Galina Ivanovna Zybina (-Fyodorova)   Athletics   Russia  Silver
222530  Galina Ivanovna Zybina (-Fyodorova)   Athletics   Russia  Bronze
222532                         Bogusaw Zych     Fencing   Poland  Bronze
222544            Olesya Nikolayevna Zykina   Athletics   Russia  Bronze
222545            Olesya Nikolayevna Zykina   Athletics   Russia  Silver

[34077 rows x 4 columns]

                                       Name      Sport  Medals
0                               Aaron Brown  Athletics       1
1                 Adam Joseph Van Koeverden   Canoeing       4
2                                Adam Kreek     Rowing       1
3                     Aileen Aletha Meagher  Athletics       1
4                              Akeem Haynes  Athletics       1
..                                      ...        ...     ...
601                William Ridout Wadsworth     Rowing       1
602         William Theodore "Willie" deWit     Boxing       1
603  William Thomas Edmund "Billy" Brennagh   Lacrosse       1
604                          William Twaits   Football       1
605            William Victor "Bill" Mahony   Swimming       1

[606 rows x 3 columns]

In [32]:
result_df = athlete_medals.merge(df[['Name', 'Sport', 'region']].drop_duplicates(), on=['Name', 'Sport'])
result_df

                                       Name      Sport  Medals  region
0                               Aaron Brown  Athletics       1  Canada
1                 Adam Joseph Van Koeverden   Canoeing       4  Canada
2                                Adam Kreek     Rowing       1  Canada
3                     Aileen Aletha Meagher  Athletics       1  Canada
4                              Akeem Haynes  Athletics       1  Canada
..                                      ...        ...     ...     ...
605                William Ridout Wadsworth     Rowing       1  Canada
606         William Theodore "Willie" deWit     Boxing       1  Canada
607  William Thomas Edmund "Billy" Brennagh   Lacrosse       1  Canada
608                          William Twaits   Football       1  Canada
609            William Victor "Bill" Mahony   Swimming       1  Canada

[610 rows x 4 columns]

In [33]:
result_df = result_df[result_df['region'] == country]
result_df = result_df[['Name', 'Medals', 'Sport']].drop_duplicates().sort_values(by='Medals', ascending=False)
result_df

                                  Name  Medals      Sport
396     Lesley Allison Thompson-Willie       5     Rowing
487         Philip Aron "Phil" Edwards       5  Athletics
367               Kathleen Joan Heddle       4     Rowing
578                       Victor Davis       4   Swimming
434            Marnie Elizabeth McBean       4     Rowing
..                                 ...     ...        ...
218  Frederick Richard "Fred" McCarthy       1    Cycling
217               Frederick Percy Toms       1     Rowing
216            Frederick Munroe Bourne       1   Swimming
215           Frederick Charles Hedges       1     Rowing
609       William Victor "Bill" Mahony       1   Swimming

[606 rows x 3 columns]